In [1]:
import pymysql
import mysql.connector

In [25]:
# establishing the connection
conn = mysql.connector.connect(user='root', password='kuroki0731',
                              host='127.0.0.1', database='test')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

#Creating table as per requirement
sql ='''
SELECT P1.name, P1.price 
  FROM Products P1 INNER JOIN Products P2 
    ON P1.price = P2.price 
   AND P1.name <> P2.name
 ORDER BY P1.price;
'''
cursor.execute(sql)
for row in cursor:
    print(row)

#Closing the connection
conn.close()

('ぶどう', 50)
('りんご', 50)
('いちご', 100)
('バナナ', 100)
('みかん', 100)
('バナナ', 100)
('みかん', 100)
('いちご', 100)

In [16]:
#establishing the connection
conn = mysql.connector.connect(user='root', password='kuroki0731',
                              host='127.0.0.1', database='test',
                              auth_plugin='mysql_native_password')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Dropping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

#Creating table as per requirement
sql ='''
INSERT INTO PopTbl VALUES('熊本', 100);
'''
cursor.execute(sql)
conn.commit()
#Closing the connection
conn.close()

In [3]:
conn2 = mysql.connector.connect(user='root', password='kuroki0731',
                              host='127.0.0.1', database='test',
                              auth_plugin='mysql_native_password')
cursor2 = conn2.cursor()
cursor2.execute("DROP TABLE IF EXISTS PopTbl2")

sql2 = '''

'''
cursor2.execute(sql2)
conn2.commit()
#Closing the connection
conn.close()

MySQLInterfaceError: Commands out of sync; you can't run this command now